header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo-container {
    background-image: url(./images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    width: 100px;
    height: 100%;
}